/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-colour);
  color: var(--fg-colour);
  /*font-family: Modeseven;*/
  font-family: "PxPlus IBM VGA8";
  margin: 0 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  transition: 1s;
  font-size: 20px;
}

main{
  padding: 20px 20px;
}

.container {
  background: var(--grey-colour);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 1), 10px 10px 0px rgba(0, 0, 0, 1);
  padding: 10px;
}

.container-border {
  background: var(--grey-colour);
  border: 2px solid #585858;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}

.container-title {
  transform: translateY(calc(-50% - 10px));
  padding: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
}

.container-title h2 {
  background: var(--grey-colour);
  padding-left: 20px;
  padding-right: 20px;
}

:root {
  --grey-colour: #a8a8a8;
  --blue-colour: #00AAAA;
  --fg-colour: #171720;
  --nav-colour: #171720;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    top: 0;
    transform: none;
    transition: 1s;
    background-color: var(--blue-colour);
    height: auto;
    border-bottom: #0000FF 2px solid;
  }

nav a,
nav button {
  background-color: var(--blue-colour);
  color: #0000FF;
  padding: 10px 20px;
  /*margin: 10px;*/
  border-radius: 0px;
  text-decoration: none !important;
  font-size: 20px;
  transition: box-shadow 0.0s ease-in-out;
}

button {
  background-color: var(--blue-colour);
  color: white;
  padding: 10px 20px;
  /*margin: 10px;*/
  border-radius: 0px;
  text-decoration: none !important;
  font-size: 24px;
  transition: box-shadow 0.0s ease-in-out;
}

button:hover{
  background-color: red;
  color: white;
  transition: background-color 0.0s;
}

nav a:hover,
#themeToggler:hover,
nav button:hover{
  background-color: #0000ff;
  color: #00AAAA;
  transition: background-color 0.0s;
}

nav.open {
  display: flex;
  transform: translateX(30%);
}

.tagger-img {
  width: 150px;
  height: 150px;
  /*border: black 30px solid;*/
  position: relative;
  z-index: 999;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners {
  border: 12px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(12px 24px,
    16px 24px,
    16px 16px,
    24px 16px,
    24px 12px,
    calc(100% - 24px) 12px,
    calc(100% - 24px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 24px,
    calc(100% - 12px) 24px,
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 12px),
    24px calc(100% - 12px),
    24px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 24px),
    12px calc(100% - 24px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    12px 50%,
    12px 24px,
    16px 24px,
    16px 16px,
    24px 16px,
    24px 12px,
    calc(100% - 24px) 12px,
    calc(100% - 24px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 24px,
    calc(100% - 12px) 24px,
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 12px),
    24px calc(100% - 12px),
    24px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 24px),
    12px calc(100% - 24px),
    12px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -12px;
}

.tagger-loop {
  height: 50px;
  width: 50px;
  border: grey 10px solid;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-450%);
  position: relative;
  z-index: 1
}

.auth{
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}

.four0four {
  font-size: 10rem;
  font-weight: bolder;
}

nav img {
  display: none;
}

header {
  text-align: center;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 120px;
}
header img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
header h1 {
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 3em;
  color: var(--fg-colour);
  transition: 1s;
}
header a {
  color: var(--fg-colour);
  transition: 1s;
}

h1 {
  text-align: center;
}

h3 a {
  text-decoration: none;
  color: var(--fg-colour);
}

p {
  margin: 10px 10px;
}

#menuToggler {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  flex-shrink: 0;
  background-color: #ff0070;
  color: white;
  padding: 5px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-decoration: none;
  font-size: 40px;
  top: 0;
  z-index: 1;
  transform: translateX(calc(100% - 120px));
  transition: 0.54s;
  z-index: 999;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background-color: #0000ff;
  color: white;
  padding: 10px 20px;
  /*margin: 10px;*/
  border-radius: 0px;
  border: #ff0070;
  text-decoration: none !important;
  transition: box-shadow 0.0s ease-in-out;
}

.btn-success {
  background: #00FF00;
  border: #00FF00;
  color: black;
}
.btn-danger {
  background: #FF0000;
  border: #FF0000;
}

.btn-primary:hover{
  background-color: #ff0000;
  color: white;
  transition: background-color 0.0s;
}

.btn-half{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

#menuToggler:hover {
  background-color: #ff5060;
  color: white;
}
#menuToggler.open {
  /*transform: translateX(58vw);*/
  transform: translateX(calc(30% - 5px));
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 90vw;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--fg-colour);
}

a {
  color: white;
  background-color: #0000FF;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

section h3 {
  text-align: center;
}

section h2 {
  text-align: center;
}

.form-control{
  border: #585858 2px inset;
  background-color: var(--grey-colour);
  border-radius: 0px;
  transition: 0s;
}

.form-control:focus {
  border: #585858 3px inset;
  background-color: var(--grey-colour);
  box-shadow: 0 0px 0px #0000FF, 0 0px 0px #0000FF;
  outline: 0px solid #0000FF;
  transition: 0s;
}

button {
  border: 0;
  outline: none;
}

footer {
  flex: auto;
  display: flex;
  justify-content: space-around;
  position: fixed;
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  bottom: 0;
  transform: none;
  transition: 1s;
  border-top: #0000FF 0px solid;
  background-color: var(--blue-colour);
}

footer a {
  background-color: var(--blue-colour);
  color: #0000FF;
  padding: 0px 4px;
  border-radius: 0px;
  text-decoration: none !important;
  font-size: 16px;
  transition: box-shadow 0.0s ease-in-out;
}

footer a:hover {
  background-color: #0000ff;
  padding: 6px 4px;
  color: #00AAAA;
  transition: background-color 0.0s;
}

span,
span a {
  color: #ff0070;
  text-decoration: none;
}


/* TABLET AND DESKTOP STYLES */
/* applies to screens wider than 499px */
@media (min-width: 500px) {
  nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    top: 0;
    transform: none;
    transition: 1s;
    background-color: var(--blue-colour);
    height: auto;
  }

  .container {
    box-shadow: 20px 20px 0px rgba(0, 0, 0, 1), 20px 20px 0px rgba(0, 0, 0, 1);
    padding: 10px;
  }

  .tagger-img {
  width: 200px;
  height: 200px;
}

  nav a {
    font-size: 20px;
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    border-bottom: 5px cyan;
  }
  .homeButton {
    display: inherit;
    position: fixed;
    top: 0px;
    left: 10px;
    border-radius: 0px;
    transition: box-shadow 0.2s ease-in-out;
  }
  nav img:hover {
    box-shadow: 0px 0px 20px #ff0070;
  }
  #mobileHead {
    display: none;
  }
  header {
    margin-left: 50px;
    margin-right: 50px;
  }
  section img {
    max-height: 350px;
  }
  #gallery {
    height: 550px;
  }
  #gallery button {
    width: 5vw;
  }
  #gallery img {
    max-width: 100%;
    max-height: 550px;
  }
}

/* DESKTOP STYLES */
/* applies to screens wider than 999px*/
@media (min-width: 1000px) {
  .header {
    align-items: center;
  }
  #menuToggler {
    display: none;
  }

  .container {
    background: var(--grey-colour);
    box-shadow: 20px 20px 0px rgba(0, 0, 0, 1), 20px 20px 0px rgba(0, 0, 0, 1);
    padding: 10px;
    max-width: 50%;
  }

  .tagger-img {
  width: 100%;
  height: 100%;
  }

  nav img {
    display: inherit;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  header {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 20px;
    width: 50vw;
  }
  #mobileHead {
    display: none;
  }
  section {
    width: 50vw;
  }
  section img {
    margin-top: 5px;
    max-height: 450px;
  }
}